/* General */



/* Navbar and sidebar background color */
.navbar {
    background-color: #040d1c;
}

#sidebar-wrapper {
    background-color: #040d1c;
}


/* Social Buttons */

.social-icons {
    
    position: relative;
    top: 325px;
    margin-bottom: 50px;
}

.social-icons li {
    display: inline;
}

.social {
    padding-right: 20px;
}

/* Profile pic */

.profile {
    margin-top: 25px;
}

.tname p, a:hover {
    color: white;
    text-decoration: none;
}


.tname {
    text-decoration: none;
}

/* sidebar */
.sidebar-nav {
    margin-top: 250px;
}

.top {
    border-top: 2px solid #111823;
}

.sidebar-nav li {
    border-bottom: 2px solid #111823;
}

.border {
    border-left: 2px solid #111823;
}

.icon {
    padding-top: 5px;
    width: 75px;
    border-right: 2px solid #111823;
}

.fsize {
    font-size: 17px;
}



