/* General */
.hr {
    background-color: #222226;
    height: 1px;
    margin-bottom: 10px;
}


/* Navbar and sidebar background color */
.navbar {
    background-color: #040d1c;
}

#sidebar-wrapper {
    background-color: #040d1c;
}


/* Social Buttons */

.social-icons {
    
    position: relative;
    top: 305px;
    margin-bottom: 40px;
}

.social-icons li {
    display: inline;
}

.social {
    padding-right: 15px;
    padding-left: 10px;
}

.right-border {
    border-right: 2px solid #111823;
}

/* Profile pic */

.profile {
    margin-top: 25px;
}

.tname p, a:hover {
    color: white;
    text-decoration: none;
}


.tname {
    text-decoration: none;
}

/* sidebar */
.sidebar-nav {
    margin-top: 270px;
}

.top {
    border-top: 2px solid #111823;
    margin-left: -2px;
}

.sidebar-nav li {
    border-bottom: 2px solid #111823;
}

.border {
    border-left: 2px solid #111823;
}

.icon {
    padding-top: 5px;
    width: 75px;
    border-right: 2px solid #111823;
}

.fsize {
    font-size: 17px;
    margin-left: -10px;
}


.menu-icon {
    position: absolute;
    left: 15px;
    top: 3px;
}

.top-name {
    margin-left: 50px;
    margin-top: 5px;
}

/* dates */
ul.academic-dates-details {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.academic-dates-details li {
    margin-bottom: 15px;
    
}


.dates {
    float: left;
    width: 75px;
}

.dates span:first-child {
    background-color: #03cc85;
    padding: 8px;
    display: block;
    text-align: center;
    color: #fff;
}

.dates span:last-child {
    background-color: #03bb7a;
    padding: 8px;
    display: block;
    text-align: center;
    color: #fff;
}

.content {
    margin-left: 90px;
    min-height: 70px;
    padding-top: 10px;
}

.content h4 {
    font-weight: 400;
    font-size: 16px;
    margin-top: 0;
}

.content p {
font-size: 13px;
}

.edu-dates-details {
    margin: 0;
    padding: 0;
    list-style: none;
}

.edu-dates-details li {
    position: relative;
    padding: 50px 15px 20px 15px;
    background-color: #fff;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 3px 3px -3px #ccc;
    box-shadow: 0px 3px 3px -3px #ccc;
    border-radius: 3px;
    margin-left: 10px;
    color: #333;
}



.edu-dates {
    position: absolute;
    top: 10px;
    left: -10px;
    border-radius: 0px;
    padding: 0;
    color: white;
}

.degree {
    background-color: #03bb7a;
}

.year {
    background-color: #03cc85;
    -webkit-box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
    box-shadow: -3px 0px 7px -3px rgba(68, 68, 68, 0.5);
    margin-left: -4px !important;
}

.edu-dates span {
    padding: 7px 10px;
    line-height: 30px;
    margin: 0;
}
















